body {
    font-family: sans-serif;
    margin-top: 3%;
    margin-left: 10%;
}

a {
    color: #2940D3;
    text-decoration: none;
    margin-right: 2%;
}

a:hover {
    text-decoration: underline;
}

.input-group {
    margin-bottom: 10px;
}